.main_content
  #recipe_top
    = simple_form_for @recipe, :html => { :multipart => true } do |f|
      - if @recipe.errors.any?
        #error_explanation
          %h2
            = pluralize(@recipe.errors.count, "error")
            prohibited this recipe from being saved:
          %ul
            - @recipe.errors.full_messages.each do |message|
              %li= message
      .row
        .col-md-4
          .recipe_edit
            = image_tag(@recipe.image.url(:medium), class: "recipe_edit_image")
            = f.file_field :image, class: 'form-control'
        .col-md-8
          .recipe_info
            = f.label :title
            %br
            = f.text_field :title, class: "form-control"
            %br
            = f.label :description
            %br
            = f.text_area :description, class: "form-control"
      .row
        .col-md-6
          .ingredients
            %h3 Ingredients
            .ingredient
              = f.simple_fields_for :ingredients do |ingredient|
                = render 'ingredient_fields', f: ingredient
              .link
                = link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-sm btn-success"
        .col-md-6
          .directions
            %h3 Directions
            .direction
              = f.simple_fields_for :directions do |direction|
                = render 'direction_fields', f: direction
              .link
                = link_to_add_association 'Add direction', f, :directions, class: "btn btn-sm btn-success"
      .row
        = f.submit "Save", class: "btn btn-lg btn-primary"
