<div class="main_content">
	<div id="recipe_top">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag(@recipe.image.url(:medium), class: "recipe_image") %>	
			</div>
			<div class="col-md-8">
				<div class="recipe_info">
					<h1><%= @recipe.title %></h1>	
					<p class="description"><%= @recipe.description %></p>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="ingredients">
				<h1>Ingridients</h1>
			</div>
		</div>
		<div class="col-md-6">
			<div class="directions">
				<h1>Directions</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-default" %>
			<%= link_to 'Back', recipes_path, class: "btn btn-default" %>
		</div>
	</div>

</div>